---
layout: default
---

<div id="homeTemplate" class="template container">
  <div class="row">
    <div id="beforeCarousel" class="col-xs-12">
      <form action="https://catalogue.data.gov.bc.ca/dataset" method="get" id="form-dataset-search">
        <div class="form-group">
          <input id="field-search-query" type="text" class="search tt-input form-control" name="q" value="" autocomplete="off" placeholder="Search the BC Data Catalogue" spellcheck="false" dir="auto">
          <input type="submit" value="Search" class="search-icon" />
        </div>
      </form>
      <div class="table-responsive">
        <div class="table featureBoxes-3col">
          <div class="featureBox col-sm-4">
            <div class="text">
              <h2><a href="https://catalogue.data.gov.bc.ca/dataset"><span class="dataset_count"></span></a></h2>
              <h4>datasets in the BC Data Catalogue</h4>
            </div>
          </div>
          <div class="featureBox col-sm-4">
            <div class="text">
              <h2><a href="https://catalogue.data.gov.bc.ca/dataset?license_id=2"><span class="open_dataset_count"></span></a></h2>
              <h4>Number of datasets published under the Open Government License</h4>
            </div>
          </div>
          <div class="featureBox col-sm-4">
            <div class="text">
              <h2><a href="" data-href="https://catalogue.data.gov.bc.ca/api/3/action/package_search" class="recently_published_count_url"><span class="recently_published_count"></span></a></h2>
              <h4>Number of datasets published in the past 90 days</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if site.visualizations %}
  {% assign sorted_visualizations = site.visualizations | sort: "order" %}
  <div id="databc-homepage-carousel" class="carousel slide hidden-xs" data-interval="false">
    <!-- Indicators -->

    <!-- Carousel items -->
    <div class="carousel-inner">
      {% for vis in sorted_visualizations %}
        {% if forloop.first == true %}
        <div class="item active">
        {% else %}
        <div class="item">
        {% endif %}
          <div class="slide-title">
            <h2><a href="{{ vis.source.url }}">{{ vis.title }}</a></h2>
          </div>
          <iframe src="" width="100%" height="560" frameborder="0" data-src="{{ vis.iframe_url }}"> </iframe>
        </div>
      {% endfor %}
      <div class="slide-title">
        <ol class="carousel-indicators">
          {% for vis in sorted_visualizations %}
            {% if forloop.first == true %}
            <li data-target="#databc-homepage-carousel" data-slide-to="{{ forloop.index0 }}" class="active"></li>
            {% else %}
            <li data-target="#databc-homepage-carousel" data-slide-to="{{ forloop.index0 }}"></li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="left carousel-control" data-target="#databc-homepage-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#databc-homepage-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="visible-xs">
    <h2 class="blue-heading-bar">Data Visualizations</h2>
    <div class="popular-services-text">
      {% for vis in site.visualizations %}
      <li><a class="show" href="{{ vis.url }}">{{ vis.title }}</a></li>
      {% endfor %}
    </div>
  </div>
  {% endif %}


  <div id="main-content">
    <a id="main-content-anchor"></a>
    <div class="row">
      <div class="homePageMainColumn col-sm-8 col-md-9">
        <h2 class="blue-heading-bar"><a href="https://catalogue.data.gov.bc.ca/dataset?q=&sort=record_publish_date+desc%2C+metadata_modified+desc">Latest Additions to the BC Data Catalogue</a></h2>
        <div class="popular-services-text recent-datasets">
        </div>

        <h2 class="blue-heading-bar"><a href="https://catalogue.data.gov.bc.ca/dataset?q=&sort=views_total+desc">Most popular datasets in the BC Data Catalogue</a></h2>
        <div class="popular-services-text popular-datasets">
        </div>

        <h2 class="blue-heading-bar">Request Data</h2>
        <div class="popular-services-text">
          <p>Want more data? Request data that you can use to build apps for BC citizens.</p>
          <li><a class="show" href="https://forms.gov.bc.ca/databc-data-request/">Click here to request data</a></li>
        </div>
      </div>
      <div class="homePageRightColumn col-sm-4 col-md-3">
        <h2 class="blue-heading-bar">DataBC Blog</h2>
        <div class="rightColumnBox">
          <div class="feed blog">
            <h4 class="placeholder">
              <p><a href="#" class="url" target="_blank"><span class="title"></span></a></p>
            </h4>
            <div class="feedEntry">

            </div>
            <hr />
            <a class="arrow-link" href ="http://blog.data.gov.bc.ca/">View more news</a>
          </div>
        </div>

        <h2 class="blue-heading-bar">Twitter Feed</h2>
        <div class="rightColumnBox">
          <div class="feed twitter">
            <div class="tweet placeholder">
              <div class="text">
              </div>
              <div class="date text-muted">
              </div>
            </div>
            <div class="feedEntry">

            </div>
            <hr />
            <a class="arrow-link" href = "http://twitter.com/Data_BC">Join the conversation</a>
          </div>
        </div>

        <h2 class="blue-heading-bar">Stay Up To Date</h2>
        <div id="sutd" class="rightColumnBox">
          <div class="feed">
            <div class="feedEntry">
              <ul class="list-unstyled">
                <li><a href="http://catalogue.data.gov.bc.ca/feeds/custom.atom?">Subscribe to New Data</a></li>
                <li><a href="http://bccataloguet.disqus.com/latest.rss">Subscribe to Catalogue Comments</a></li>
                <li><a href="http://blog.data.gov.bc.ca/feed/">Subscribe to Blog Posts</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
