<div id="header" class="">

        <div id="header-main" class="navbar navbar-default navbar-fixed-top">   
            
            <div class="container">             
                <div id="header-main-row1">
                    <div class="navbar-brand">
                        <a href="http://www2.gov.bc.ca/" class="logo"><img src="/assets/gov/images/gov3_bc_logo.png" class="hidden-xs"><img src="/assets/gov/images/gov3_bc_logo_mobile.png" class="visible-xs-inline-block">DataBC</a>
                    </div>
                    <div class="navbar-header">
                        <button data-target="#header-main-row2" data-toggle="collapse" class="menu-button navbar-toggle mini-menu-trigger collapsed" type="button"></button>
                        <button data-target="#header-main-row1 .header-search.collapse" data-toggle="collapse" class="search-button navbar-toggle mini-menu-trigger collapsed" type="button"></button>
                    </div>
                    <div class="header-search collapse">
                        <div class="search-boarder-arror visible-xs-block"></div>
                        <div class="header-main-right">
                            <div class="gov search"> 
                                <form role="form" class="" method="get" action="https://catalogue.data.gov.bc.ca/dataset" id="form-dataset-search-header">
                                    <label class="sr-only" for="dataset-search">Search</label>
                                    <input type="text" autocomplete="off" value="" name="q" placeholder="Search BC Data Catalogue" class="searchbox" id="dataset-search"> 
                                    <div class="search-trigger"> </div>
                                </form>
                            </div>   
                        </div>
                    </div>
                </div>

                <div id="header-main-row2" class="collapse">
                    <div class="header-main-right" style="display: none;">
                        <div id="header-links">
                            <ul class="inline nav navbar-nav">
                                <li data-order="0"><a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc">What is DataBC?</a></li>
                                <li data-order="1"><a href="https://catalogue.data.gov.bc.ca/">Data Catalogue</a></li>
                                <li data-order="2"><a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/geographic-data-and-services">Geographic Services</a></li>
                                <li data-order="3"><a href="http://blog.data.gov.bc.ca/">Blog</a></li>
                                <li data-order="4"><a href="http://developer.gov.bc.ca/">Developers</a></li>
                                <li data-order="5"><a href="https://forms.gov.bc.ca/databc-contact-us/">Contact</a></li>
                                <li data-order="7"><a href="https://catalogue.data.gov.bc.ca/data/site-usage/dataset">Dataset Usage</a></li>
                            </ul>
                        </div>  
                    </div>

                    <div class="header-main-left">
                        <div id="govNavMenu">
                            <nav class="govNav" id="govMainMenu">
                                <ul class="firstLevel nav navbar-nav">
                                    <li class="clearfix">
                                        <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc">What is DataBC?</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="https://catalogue.data.gov.bc.ca/">Data Catalogue</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/geographic-data-and-services">Geographic Services</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="http://blog.data.gov.bc.ca/">Blog</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="http://developer.gov.bc.ca/">Developers</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="https://forms.gov.bc.ca/databc-contact-us/">Contact</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="https://catalogue.data.gov.bc.ca/data/site-usage/dataset">Dataset Usage</a>
                                        <span class="no-trigger"></span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden-xs">
            {% include subnavigation.html %}
            </div>
        </div>
    </div>
