<div class="navigationRibbon">      
    <div class="level2Navigation">
        <div class="container">
          <a href="http://www2.gov.bc.ca/gov/content?id=5A896C5DD9554C13AE75FEACCECF6671">What is DataBC?</a>
          <a href="https://catalogue.data.gov.bc.ca/">Data Catalogue</a>
          <a href="https://catalogue.data.gov.bc.ca/data/site-usage/dataset">Dataset Usage</a>
          <a href="http://www2.gov.bc.ca/gov/content?id=D4A480B7776B4C2C8AD4266EECADEBF2">Geographic Services</a>
          <a href="http://engage.gov.bc.ca/data/">Blog</a>
          <a href="https://bcdevexchange.org/" target="_blank">Developers</a>
          <a href="https://forms.gov.bc.ca/databc-contact-us/">Contact</a>
        </div>
    </div>

    <div class="level3Navigation">
      <div class="container">
        <a href="https://catalogue.data.gov.bc.ca/dataset">Datasets</a>
        <a href="https://catalogue.data.gov.bc.ca/organization">Organizations</a>
        <a href="https://catalogue.data.gov.bc.ca/groups">Groups</a>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-rss icon-rss"></i> Stay Up To Date</a>
          <ul class="dropdown-menu">
            <li><a href="https://catalogue.data.gov.bc.ca/feeds/recent.rss">Subscribe to New Data</a></li>
            <li><a href="http://bccatalogue.disqus.com/latest.rss">Subscribe to Catalogue Comments</a></li>
            <li><a href="https://engage.gov.bc.ca/data/feed/" target="_blank">Subscribe to Blog Posts</a></li>
          </ul>
        </div>
        <a href="https://catalogue.data.gov.bc.ca/about">About</a>
      </div>
    </div>
</div>
