<div class="navigationRibbon">      
    <div class="level2Navigation">
        <div class="container">
          <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc">What is DataBC?</a>
          <a href="https://catalogue.data.gov.bc.ca/">Data Catalogue</a>
          <a href="http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/geographic-data-and-services">Geographic Services</a>
          <a href="http://blog.data.gov.bc.ca/">Blog</a>
          <a href="http://developer.gov.bc.ca/">Developers</a>
          <a href="https://forms.gov.bc.ca/databc-contact-us/">Contact</a>
          <a href="https://catalogue.data.gov.bc.ca/data/site-usage/dataset">Dataset Usage</a>
        </div>
    </div>
</div>
