<div class="navigationRibbon">      
    <div class="level2Navigation">
        <div class="container">
          <a href="{{ h.get_fqdn() }}/dbc/about/index.page">What is DataBC?</a>
          <a href="{{ h.url('/dataset') }}" title="{{ g.site_title }} Home">Data Catalogue</a>
          <a href="{{ h.get_fqdn() }}/dbc/geographic/index.page">Geographic Services</a>
          <a href="http://blog.data.gov.bc.ca/">Blog</a>
          <a href="http://developer.gov.bc.ca/">Developers</a>
          <a href="{{ h.get_fqdn() }}/forms/dbc/contact/index.html">Contact</a>
        </div>
    </div>
</div>
