#homeTemplate {
	margin-top: 30px;
}

#sutd {
	ul {
		margin-bottom: 0;
		
		li {
			padding: 0 0 5px 20px;
			background-image: url('/assets/gov/images/icon_rss.png');
			background-repeat: no-repeat;
		}
	}
}