.page-content {
	padding-top: $navbar-height + 26;
}

@media (min-width: 768px) and (max-width: 991px) {
	.page-content {
		padding-top: $navbar-height + 46;
	}
}

@media (max-width: 767px) {
	.page-content {
		padding-top: $navbar-height;
	}
}