.page-content {
	padding-top: $navbar-height + 52px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.page-content {
		padding-top: $navbar-height + 70px;
	}
}

@media (min-width: 100px) and (max-width: 767px) {
	.page-content {
		padding-top: $navbar-height;
	}
}